@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
:root {
  --jumbotron-padding-y: 3rem;
}

@font-face {
    font-family: RamaGothic;
    src: url("../fonts/RamaGothic.otf") format("opentype");
}

body {
  background-color: #414042;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.brown-bg {
  background-color: #3b2416;
}

.grey-bg {
  background-color: #383637;
}

.white-bg {
  background-color: #fff;
}

.logo {
  width: 91px;
  height: 154px;
  padding: 20px;
}

.container-fluid, .jumbotron {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.row {
  margin: 0;
}

.jumbo-ybor {
  background: 
    linear-gradient(
      rgba(94, 69, 52, 0.45),
      rgba(94, 69, 52, 0.45)
    ),
    url("../img/ybor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-ybor-text {
  font-family: RamaGothic, sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #FFF;
  padding: 5.5rem;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 1);
}

.white-h2 {
  font-family: RamaGothic, sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #FFF;
  padding: 5.5rem;
  margin: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #383637 !important;
  border-color: #3b2417 !important;
}

.grey-h1 {
  font-family: RamaGothic, sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #808284;
}

.grey-p {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.25rem;
  color: #8d8c8e;
  padding: 3.5rem 0 3.5rem 0;
}

.lost-places {
  background: 
    url("../img/lost-places.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}